LIVEKIT_URL=wss://telecall-mfcpqe2j.livekit.cloud
LIVEKIT_API_KEY=API4do8Y56u78Xu
LIVEKIT_API_SECRET=YQ5DHY10Wwnb7StUNBr3u1VVFuzh0ZVebjN3xDSbXqV
# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=
